* {
    box-sizing: border-box;
}

html {
    font-size: 62.50%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 96%);
}

footer {
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  text-align: center;
  padding: 1.6rem;
  background-color:  hsl(300, 10%, 50%);
}

.main-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.1);
}
  
h1, h2, h3, h4 {
  text-align: center;
}
 
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  hsl(300, 10%, 50%);
}
  
.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: hsl(260, 5%, 60%);
}
 
.center-box {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 80%);
}
  
.form-group {
  margin-bottom: 15px;
  display:flex;
}
  
input {
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  width:100%;
}
  
button {
  padding: 10px 20px;
  background-color: hsl(271, 10%, 50%);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width:100%;
}

.delete-btn {
  max-width: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
}
  
button:hover {
  background-color: hsl(260, 5%, 45%);
}

.errorMessage {
  text-align: center;
  color: red;
}

.presents {
  max-width: 450px;
  margin: 20px auto;
  background-color: hsl(0, 0%, 98%);
}

.present {
  padding: 0.5rem;
  background-color: rgb(244, 240, 246);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;
}

.present:hover {
  color: hsl(270, 10%, 50%);
}

.div-presents {
  text-align: end;
}

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  max-width: 600px;
  min-width: 300px;
  word-break: break-all;
}

td, th {
  border: 1px solid hsl(0, 0%, 80%);
  padding: 1.6rem;
}